<header class="page-header-top" #pageHeaderTop>
    <!-- cart summary -->
    <span *ngIf="mobile" class="toggleCloseBtn" (click)="closeToggle()">+</span>
    <section id="cart-summary" class="cart-summary" (click)="cartSum($event)">
        <dl>
            <dt>Корзина: <a>{{cartList.items.length}} товаров</a></dt>
            <dd #cartSummary [ngStyle]="{'display':'none'}">

                <div class="products-scroll" [style.overflow-y]="'auto'" [style.max-height]="'535px'">
                    <ul *ngFor="let cartItem of cartList.items; let i = index;">
                        <li *ngFor="let variant of cartItem.variants">
                            <a (click)="navigateToProduct(variant.product_id)" class="pic">
                                <img
                                    *ngIf="variant.images[0]"
                                    src="{{variant.images[0].path + '_medium.' + variant.images[0].ext}}"
                                    alt="">

                                <img
                                    *ngIf="!variant.images[0]"
                                    src=""
                                    alt="404">
                            </a>

                            <a (click)="removeCartProduct(variant.product_detail_id)" title="Remove form cart"
                               class="icon-remove"></a>
                            <div class="price">₽ {{variant.price}}</div>

                            <h3>
                                <a (click)="navigateToProduct(variant.product_id)">
                                    {{cartItem.name}}
                                </a>
                            </h3>

                            <p>
                                <span>Цвет:</span>
                                <i [style.background]="colors[variant.color].key"></i>{{colors[variant.color].value}}
                                <br>
                                <span>Размер: </span> {{ variant.size }}
                                <br>
                                <span>Кол:</span>  {{variant.cart_quantity}}
                            </p>

                        </li>
                    </ul>

                    <div class="empty"
                         [style.display]="cartList.items.length > 0 ? 'none' : 'block'"
                         [style.padding]="'50px 0'">Your cart is empty!
                    </div>
                    <div class="total" [style.display]="cartList.items.length > 0 ? 'block' : 'none'">Total:
                        ₽ {{totalPrice}}</div>
                    <div class="actions" *ngIf="cartList.items.length > 0">
                        <button (click)="cartSum('close'); closeToggle()" routerLink="/checkout" class="button">Оформить
                            заказ
                        </button>
                        <button (click)="cartSum('close'); closeToggle()" routerLink="/cart"
                                class="button button-secondary">В корзину
                        </button>
                    </div>
                </div>

            </dd>
        </dl>
    </section>
    <!--/ cart summary -->

    <!-- wish list summary -->
    <section id="wish-list-summary" class="wish-list-summary" (click)="wishList($event)">
        <dl>
            <dt>Избранное: <a>{{wishListProducts.length}} товаров</a></dt>

            <dd #wishListSummary [ngStyle]="{'display':'none'}">

                <div class="products-scroll" [style.overflow-y]="'auto'" [style.max-height]="'357px'">
                    <ul>
                        <li class="clearfix" *ngFor="let item of wishListProducts">

                            <a (click)="navigateToProduct(item.product_detail_id)" class="pic">
                                <img *ngIf="item.image" src="{{item.image[0].path + '_medium.' + item.image[0].ext}}"
                                     alt="">
                            </a>
                            <a (click)="removeWishProduct(item.product_detail_id, item.wish_id)"
                               title="Remove form wish list"
                               class="icon-remove"></a>
                            <!--                        <a href="#" title="Move to cart" class="icon-share-alt"></a>-->
                            <div class="price">₽ {{item.price}}</div>

                            <h3><a (click)="navigateToProduct(item.product_detail_id)">{{ item.name }}</a></h3>

                            <p>
                                <span>Цвет:</span> <i
                                [style.background]="colors[item.color].key"></i>{{colors[item.color].value}}
                                <br>
                                <span>Размер: </span>{{item.size}}<br>
                                <!--                            <span>Qty:</span> 1-->
                            </p>

                            <h3>
                                <a (click)="addToCart(item)">
                                    Добавить в корзину
                                </a>
                            </h3>

                            <!--                        <a href="product.html" class="pic"><img src="assets/demo/products/m5-1.png" alt=""></a>-->
                            <!--                        <a href="#" title="Remove form wish list" class="icon-remove"></a>-->
                            <!--                        <a href="#" title="Move to cart" class="icon-share-alt"></a>-->
                            <!--                        <div class="price">$15</div>-->
                            <!--                        <h3><a href="product.html">Vestibulum nec nunc</a></h3>-->
                            <!--                        <p><span>Color:</span><i style="background:#f3d95e"></i>Yellow<br><span>Size:</span>-->
                            <!--                            M<br><span>Qty:</span> 1</p>-->
                        </li>
                        <!--                    <li class="clearfix">-->
                        <!--                        <a href="product.html" class="pic"><img src="assets/demo/products/m3-2.png" alt=""></a>-->
                        <!--                        <a href="#" title="Remove form wish list" class="icon-remove"></a>-->
                        <!--                        <a href="#" title="Move to cart" class="icon-share-alt"></a>-->
                        <!--                        <div class="price">$55</div>-->
                        <!--                        <h3><a href="product.html">Vivamus interdum metus</a></h3>-->
                        <!--                        <p><span>Color:</span><i style="background:#732718"></i>Brown<br><span>Size:</span>-->
                        <!--                            M<br><span>Qty:</span> 1</p>-->
                        <!--                    </li>-->
                    </ul>
                    <div class="empty" [style.display]="wishListProducts.length > 0 ? 'none' : 'block'">Your wish list
                        is
                        empty!
                    </div>
                    <!--                    <div class="share">-->
                    <!--                        <a href="#"><i class="icon-pinterest"></i></a>-->
                    <!--                        <a href="#"><i class="icon-google-plus-sign"></i></a>-->
                    <!--                        <a href="#"><i class="icon-twitter"></i></a>-->
                    <!--                        <a href="#"><i class="icon-facebook-sign"></i></a>-->
                    <!--                        Поделиться с друзьями:-->
                    <!--                        &lt;!&ndash;                        Share list with friends:&ndash;&gt;-->
                    <!--                    </div>-->
                </div>

            </dd>
        </dl>
    </section>
    <!--/ wish list summary -->

    <!-- login popup -->
    <section id="login-popup" class="login-popup" (click)="login($event)">
        <dl *ngIf="logIn && !currentUser">
            <dt><i class="icon-signin"></i>Войти / Регистрация</dt>
            <dd #loginRegister [ngStyle]="{'display':'none'}">
                <div class="intro">By signing in you will be able to shop faster, be up to date on an order's status,
                    and keep track of the orders you have previously made.
                </div>

                <!--&lt;!&ndash;                <a href="#" class="button button-google" (click)="socialLogin('google')">&ndash;&gt;        THIS-->
                <!--&lt;!&ndash;                    <i class="icon-google"></i>Login via Google&ndash;&gt;        THIS-->
                <!--&lt;!&ndash;                </a>&ndash;&gt;        THIS-->
                <!--&lt;!&ndash;                <a href="#" class="button button-facebook" (click)="socialLogin('facebook')">&ndash;&gt;        THIS-->
                <!--&lt;!&ndash;                    <i class="icon-facebook"></i>Login via Facebook&ndash;&gt;        THIS-->
                <!--                </a>-->


                <!--                <a href="#" class="button button-facebook" (click)="socialLogin('vk')">-->
                <!--                    <i class="icon-facebook"></i>Login via Vk-->
                <!--                </a>-->

                <!--&lt;!&ndash;                <div class="or"></div>&ndash;&gt;         THIS-->


                <form (ngSubmit)="singIn()" [formGroup]='loginForm' class="form">
                    <div class="form-group">
                        <label class="input">
                            <input [ngClass]="{'incorrect': submitted && signInForm.email.errors}"
                                   formControlName="email" type="text" placeholder="E-mail">
                            <span class="incorrect-feedback" *ngIf="submitted && signInForm.email.errors">
                                Введите корректный майл
                            </span>
                        </label>
                    </div>

                    <div class="form-group">
                        <label class="input">
                            <input [ngClass]="{'incorrect': submitted && signInForm.password.errors}"
                                   formControlName="password" type="password" placeholder="Password">
                            <span class="incorrect-feedback" *ngIf="submitted && signInForm.password.errors">
                                Пароль должен состоять минимум из 8-и символов
                            </span>
                        </label>
                    </div>

                    <label class="checkbox">
                        <input type="checkbox"><i></i>Remember me
                    </label>

                    <button type="submit" class="button">Enter</button>

                    <div class="forgot"><a (click)="resetPassword()">Forgot password?</a> / <a (click)="changeLogIn()">Register
                        account</a></div>
                </form>
            </dd>
        </dl>

        <dl *ngIf="!logIn && !currentUser">
            <dt><i class="icon-signin"></i>Sign in / Register</dt>
            <dd #loginRegister [ngStyle]="{'display':'none'}">
                <form (ngSubmit)="singUp()" [formGroup]='registerForm' class="form">

                    <div class="form-group">
                        <label class="input">
                            <input [ngClass]="{'incorrect': submitted && signUpForm.name.errors}" formControlName="name"
                                   type="text" placeholder="Имя">
                            <span *ngIf="submitted && signUpForm.name.errors" class="incorrect-feedback">
                                Введите имя
                            </span>
                        </label>
                    </div>

                    <div class="form-group">
                        <label class="input">
                            <input [ngClass]="{'incorrect': submitted && signUpForm.surname.errors}"
                                   formControlName="surname" type="text" placeholder="Фамилия">
                            <span *ngIf="submitted && signUpForm.surname.errors" class="incorrect-feedback">
                                Введите фамилию
                            </span>
                        </label>
                    </div>

                    <div class="form-group">
                        <label class="input">
                            <input [ngClass]="{'incorrect': submitted && signUpForm.email.errors}"
                                   formControlName="email" type="email" placeholder="E-mail">
                            <span *ngIf="submitted && signUpForm.email.errors" class="incorrect-feedback">
                                Введите корректный майл
                            </span>
                        </label>
                    </div>

                    <div class="form-group">
                        <label class="input">
                            <input [ngClass]="{'incorrect': submitted && signUpForm.address.errors}"
                                   formControlName="address" type="text" placeholder="Адресс">
                            <span *ngIf="submitted && signUpForm.address.errors" class="incorrect-feedback">
                                Введите свой адресс
                            </span>
                        </label>
                    </div>

                    <div class="form-group">
                        <label class="input">
                            <input formControlName="postal_code" type="text" placeholder="Почтовый индекс">
                        </label>
                    </div>

                    <div class="form-group">
                        <label class="input">
                            <input [ngClass]="{'incorrect': submitted && signUpForm.phone.errors}"
                                   formControlName="phone" type="number" placeholder="Телефон">
                            <span *ngIf="submitted && signUpForm.phone.errors" class="incorrect-feedback">
                                Введите действительный телефон
                            </span>
                        </label>
                    </div>

                    <div class="form-group">
                        <label class="input">
                            <input [ngClass]="{'incorrect': submitted && signUpForm.password.errors}"
                                   formControlName="password" type="password" placeholder="Пароль">
                            <span *ngIf="submitted && signUpForm.password.errors" class="incorrect-feedback">
                                Пароль должен состоять минимум из 8-и символов
                            </span>
                        </label>
                    </div>

                    <button type="submit" class="button">Register</button>

                    <div class="forgot"><a (click)="changeLogIn()">Log In</a></div>
                </form>
            </dd>
        </dl>

        <dl *ngIf="currentUser">
            <dt><i class="icon-signin"></i>Личный кабинет</dt>
            <dd #loginRegister [ngStyle]="{'display':'none'}">
                <div class="intro">Добро пожаловать {{currentUser.name}} {{currentUser.surname}} !</div>

                <a [routerLink]="['/profile']" (click)="login('close')" class="button button-facebook">Личный кабинет
                </a>
                <a (click)="logOut()" class="button button-google">Выйти
                </a>

            </dd>
        </dl>

    </section>
    <!--/ login popup -->

    <!-- help -->
    <section id="help" class="help" (click)="help($event)">
        <dl>
            <dt>Меню</dt>
            <dd #helpDt [ngStyle]="{'display': 'none'}">
                <div class="phone">
                    <p>Позвоните нам !</p>
                    <p *ngIf="phoneNumber">{{phoneNumber.value}}</p>
                    <i class="icon-comment"></i>
                </div>
                <!-- share buttons -->
                <div class="finder">
                    <share-buttons [theme]="'outline'"
                                   [include]="['facebook','twitter','vk','telegram']"
                                   [show]="5"
                                   [size]="-6"
                                   [url]="'http://mianie.ru/'"
                    ></share-buttons>
                    <!--                    [url]="url"-->
                    <!--                    [description]="'Library , All books in the world'"-->
                    <!--                    [title]="document.title[_language]"-->
                </div>
                <!-- share buttons -->
                <ul>
                    <!--                    <li routerLink="/" [style.cursor]="'pointer'">На главную</li>-->
                    <li *ngFor="let section of menuList">
                        <a (click)="help('close')" [routerLink]="['/pages', section.slug]">{{section.title}}</a>
                    </li>
                    <!--                    <li><a>О нас</a></li>-->
                    <!--                    <li><a>Privacy policy</a></li>-->
                    <!--                    <li><a>FAQ</a></li>-->
                    <li>
                        <a [routerLink]="['/faq']">FAQ</a>
                    </li>
                    <li>
                        <a (click)="open()">Обратная связь !</a>
                    </li>
                    <!--                    <li><a href="#">Size charts</a></li>-->
                    <!--                    <li><a href="#">Return and delivery</a></li>-->
                </ul>
            </dd>
        </dl>
    </section>
    <!--/ help -->
</header>

<div class="contactModal" *ngIf="opened">
    <button (click)="close()">
        <span
            style="font-weight: 500; position: absolute; top: 4%; font-size: 35px; transform: rotate(45deg);right: 10%">+</span>
    </button>

    <app-contact-modal></app-contact-modal>
</div>

<header id="header" class="page-header-middle" #header>
    <!-- logo -->
    <a routerLink='/' id="logo" class="logo">
        <span #logoSpan>
<!--            <img src="assets/images/logo.png" alt="">-->
                    <span style="color: white; font-size: 26px"> Mianie</span>
        </span>
    </a>
    <!--/ logo -->

    <!-- products nav -->
    <nav id="products-nav" class="products-nav" #productsNav>
        <ul>
            <li class="lv1"
                *ngFor="let category of categories"
                [ngClass]="category.childs === false ? 'no-col' :
                           category.childs && category.childs.length == 1 ? 'single-col':
                           category.childs && category.childs.length == 2 ? 'double-col' :
                           category.childs && category.childs.length == 3 ? 'triple-col' : 'multi-col'">
                <a [routerLink]="['/category', category.slug]"><p class="toggleArrowLeft" (click)="goToMainMenu()"
                                                                  *ngIf="mobile"></p>{{category.title}}<p
                    class="toggleArrow" (click)="goToDropDownMenu()" *ngIf="mobile"></p></a>
                <div [ngClass]="mobile ? 'toggleDropdown' : ''" *ngIf="!openDropdown">
                    <ul *ngFor="let child of category.childs" [ngClass]="mobile ? 'toggleDropdownMenu' : ''">

                        <li class="lv2"><a [routerLink]="['/category', child.slug]"
                                           (click)="closeToggle()">{{child.title}}</a></li>
                        <li class="lv3" *ngFor="let child of child.childs"><a
                            [routerLink]="['/category', child.slug]" (click)="closeToggle()">{{child.title}}</a></li>

                    </ul>

                </div>
            </li>
        </ul>
    </nav>
    <!--/ products nav -->
    <div class="mainToggle" (click)="toggleChange()"><span class="lineToggle"></span><span
        class="lineToggle"></span><span class="lineToggle"></span></div>

    <!-- search -->
    <form [formGroup]="formSearch" novalidate (ngSubmit)="search()" action="#" id="search" class="search">
        <div class="switcher" #switcher>
            <a class="close" (click)="closeSearch()"></a>
            <a class="open" (click)="openSearch()"></a>
            <button [ngStyle]="{'display': showSearch ? 'block' : 'none' }" class="open" type="submit"></button>
        </div>

        <div class="form" #searchForm>
            <dl class="filter filter-alpha filter-color">
                <dt (click)="Color()">Color</dt>
                <dd #filterColor>
                    <a *ngFor="let color of colors, let colIndex = index" class='color-{{color.key}}'
                       [ngClass]="colIndex == currentColor ? 'active' : ''"
                       (click)="activeColor(colIndex)"></a>
                </dd>
            </dl>
            <dl class="filter filter-omega filter-price">
                <dt (click)="price()">Price</dt>
                <dd #filterPrice style="z-index: 10000;">
                    <ng5-slider
                        [(value)]="value"
                        [(highValue)]="highValue"
                        [options]="options"
                        (valueChange)="valueChange($event)"
                        (highValueChange)="highValueChange($event)"></ng5-slider>
                </dd>
            </dl>

            <input type="text" class="keywords form-control" formControlName="searchInput">
        </div>

    </form>
    <!--/ search -->

</header>

