.activeHeight {
    height: 108px;
    transition: 0.4s ease-in-out;
}

.contactModal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1100;
    background: rgba(242, 242, 242, .95);
}

.cart-summary dd {
    width: 396px !important;
    padding: 36px 0 0 !important;
}

.wish-list-summary dd {
    width: 362px !important;
    padding: 36px 0 0 !important;
}

.products-scroll {
    height: calc(100% - 25px);
    padding: 0 18px 18px;
}

.products-scroll ul li {
    height: 108px;
}

.incorrect {
    border: 1px solid red;
    color: red;
}

.incorrect-feedback {
    color: red;
    font-size: 12px;
}

.lineToggle {
    width: 20px;
    border: 1px solid white;
    display: block;
    margin: 5px;
    background: white;
}

.mainToggle {
    float: right;
    display: none;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.toggleArrow {
    width: 7px;
    height: 7px;
    border-color: #fff;
    border-style: solid;
    border-width: 1px 1px 0 0;
    transform: rotate(45deg);
    float: right;
    margin-top: 8%;
    margin-left: 10%;
}

.toggleDropdown {
    width: 100% !important;
    //height: 100vh;
    background: #000 !important;
    position: relative;
    //top:0;
    border-radius: 0 !important;
    left: 0;
    animation: Left 1s;
}

@keyframes Left {
    from {
        left: 300px;
    }
    to {
        left: 0;
    }
}

.toggleArrowLeft {
    width: 7px;
    height: 7px;
    border-color: #000;
    border-style: solid;
    border-width: 0 0 1px 1px;
    transform: rotate(45deg);
    float: left;
    margin: 20px 20px 0 20px;
}

.toggleDropdownMenu {
    float: none !important;
    margin-left: 5px !important;
}

.toggleDropdownMenu a {
    color: white;
}

.toggleCloseBtn {
    position: absolute;
    top: 15px;
    right: 33px;
    font-weight: 500;
    cursor: pointer;
    font-size: 25px;
    transform: rotate(46deg);
    color: #c40303;
    z-index: 1010;
}

// // // MEDIA // // //

@media (max-width: 1100px) {
    .search .form {
        width: 69%;
    }
}

@media (max-width: 900px) {
    .search .keywords {
        width: 60%;
    }
}

@media(max-width: 798px) {
    .mainToggle {
        display: block;
    }
    .products-nav {
        display: none !important;
    }
    .products-navTwo {
        display: block !important;
    }
    //.search .switcher {
    //    right: 33px !important;
    //}
    .page-header-top {
        display: none !important;
    }
    .pageHeaderTop {
        display: block !important;
    }
    .search .switcher {
        right: 33px;
    }
}

@media (max-width: 768px) {
    .activeHeight {
        .logo {
            display: none;
        }

        .search .form {
            left: 0;
            width: 80%;
        }

        .search .keywords {
            width: 52%;
        }

        .search .filter-color dd {
            margin-left: 0;
        }

        .search .filter-color dd:after {
            left: 16px;
        }

        .search .filter-price dd {
            left: 63px;
        }

        .search .filter-price dd:after {
            left: 35%;
        }
    }
}

@media (max-width: 550px) {
    .activeHeight {
        .search .form {
            width: 76%;
        }
    }
}

@media (max-width: 470px) {
    .activeHeight {
        .search .form {
            width: calc(100% - 80px);
        }

        .search .keywords {
            width: 54%;
        }

        .mainToggle {
            display: none !important;
        }

        .search .switcher {
            right: 5px;
        }

        .search .filter-omega {
            margin-right: 0;
        }

        .search .filter {
            width: 45px;
        }
    }
}

@media (max-width: 390px) {
    .activeHeight {
        .search .keywords {
            width: 50%;
        }

        .search .filter {
            width: 40px;
        }

        .search .filter-color dd:after {
            left: 9px;
        }

        .search .filter-price dd {
            left: 79px;
        }

        .search .filter-price dd:after {
            left: 25%;
        }
    }
}

@media (max-width: 366px) {
    .search .filter dd {
        top: 100%;
    }
}

@media (max-width: 360px) {
    .activeHeight {
        .search .form {
            width: calc(100% - 85px);
        }
        .search .keywords {
            width: 45%;
        }
        .search .filter {
            width: 37px;
        }
        .search .filter-price dd:after {
            left: 24%;
        }
    }
}


@media(min-width: 799px) {
    .products-navTwo {
        display: none;
    }
    .products-nav {
        display: block;
    }
    .toggleDropdown {
        display: none;
    }
    .toggleDropdownMenu {
        display: none;
    }
    .toggleCloseBtn {
        display: none;
    }
}

//@media(max-width: 500px) {
//    .toggleArrow {
//        margin-top: 10%;
//    }
//    .search .filter-color dd {
//        top: 58% !important;
//    }
//    .search .filter-color dd a {
//        width: 8px !important;
//    }
//    .search .filter-color dd a:hover:after, .search .filter-color dd a.active:after {
//        content: "";
//        position: absolute;
//        top: -2px;
//        left: -2px;
//        width: 10px !important;
//        height: 10px;
//        border: 1px solid #a6a6a6;
//    }
//    .search .filter-price dd {
//        left: 40% !important;
//        padding: 0 5px !important;
//    }
//
//}

//@media(max-width: 400px) {
//.toggleArrow {
//    margin-top: 20px;
//}
//.toggleArrowLeft {
//    margin: 22px 5px 0 18px;
//}
//}
