<div class="alert-wrapper" *ngIf="alerts[0] !== undefined">

    <div class="alert-background"></div>

    <div class="alert-box">
        <div *ngFor="let alert of alerts" class=" {{ cssClass(alert) }}">
    
            <div *ngIf="alert.message === 'success' " class="alert-content">
                <h2>
                    Все прошло удачно !!!
                </h2>
                <p *ngIf="alert.info !== null">
                    {{ alert.info }}
                </p>
                <div *ngIf="alert.info === null" class="like">
                    <img src="assets/images/error/like.png" alt="404">
                </div>
                <div class="success-checkmark">
                    <div class="check-icon">
                        <span class="icon-line line-tip"></span>
                        <span class="icon-line line-long"></span>
                        <div class="icon-circle"></div>
                        <div class="icon-fix"></div>
                    </div>
                </div>
            </div>
    
            <div *ngIf="alert.message === 'error' " class="alert-content">
                <h2>
                    Ошибка !!!
                </h2>
                <p>
                    {{ alert.info }}
                </p>
                <img src="assets/images/error/error.png" alt="404">
            </div>

            <div *ngIf="alert.message === 'notice' " class="alert-content">
                <p>
                    {{ alert.info }}
                </p>
            </div>
    
        </div>
    </div>

</div>
