h2, p {
    padding: 10px;
}

.alert-content {
    color: #fff;
}

.success {
    border-radius: 20px;
    border: 2px solid #155724;
    background-color: #d4edda;

    .alert-content{
        color: #155724;
    }
}

.error {
    border-radius: 20px;
    border: 2px solid #c9302c;
    background-color: #f1e6e6;
    //border-color: #c12e2a;

    .alert-content {
        color: #c9302c !important;

        h2, p{
            font-weight: bold;
        }
    }
}

.notice {
    border-radius: 20px;
    border: 2px solid #155724;
    background-color: #d4edda;

    .alert-content{
        color: #155724;
    }
}

.alert-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999999;
    height: auto;

    .alert-background {
        position: relative;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        z-index: 9999999;
        opacity: 0.9;
    }
}


.alert-box {
    position: absolute;
    z-index: 9999999999;
    text-align: center;
    top: 50%;
    transition: 1s all;
    transform: translateY(-50%);
    left: 35%;
    width: 30%;
}

.alert-content {
    padding: 20px;
    text-align: center;

    img {
        width: 60px;
        height: 60px;
    }
}

.like img {
    width: 30px;
    height: 30px;
}


// Success animation
.success-checkmark {
    width: 80px;
    height: 115px;
    margin: 0 auto;

    .check-icon {
        width: 80px;
        height: 80px;
        position: relative;
        border-radius: 50%;
        box-sizing: content-box;
        border: 4px solid #155724;

        &::before {
            top: 3px;
            left: -2px;
            width: 30px;
            transform-origin: 100% 50%;
            border-radius: 100px 0 0 100px;
        }

        &::after {
            top: 0;
            left: 30px;
            width: 60px;
            transform-origin: 0 50%;
            border-radius: 0 100px 100px 0;
            animation: rotate-circle 4.25s ease-in;
        }

        &::before, &::after {
            content: '';
            height: 100px;
            position: absolute;
            transform: rotate(-45deg);
        }

        .icon-line {
            height: 5px;
            background-color: #ffffff;
            display: block;
            border-radius: 2px;
            position: absolute;
            z-index: 10;

            &.line-tip {
                top: 46px;
                left: 14px;
                width: 25px;
                transform: rotate(45deg);
                animation: icon-line-tip 0.75s;
            }

            &.line-long {
                top: 38px;
                right: 8px;
                width: 47px;
                transform: rotate(-45deg);
                animation: icon-line-long 0.75s;
            }
        }

        .icon-circle {
            top: -4px;
            left: -4px;
            z-index: 10;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            position: absolute;
            box-sizing: content-box;
            border: 4px solid rgba(76, 175, 80, .5);
        }

        .icon-fix {
            top: 8px;
            width: 5px;
            left: 26px;
            z-index: 1;
            height: 85px;
            position: absolute;
            transform: rotate(-45deg);
        }
    }
}

@keyframes rotate-circle {
    0% {
        transform: rotate(-45deg);
    }
    5% {
        transform: rotate(-45deg);
    }
    12% {
        transform: rotate(-405deg);
    }
    100% {
        transform: rotate(-405deg);
    }
}

@keyframes icon-line-tip {
    0% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    54% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    70% {
        width: 50px;
        left: -8px;
        top: 37px;
    }
    84% {
        width: 17px;
        left: 21px;
        top: 48px;
    }
    100% {
        width: 25px;
        left: 14px;
        top: 45px;
    }
}

@keyframes icon-line-long {
    0% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    65% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    84% {
        width: 55px;
        right: 0px;
        top: 35px;
    }
    100% {
        width: 47px;
        right: 8px;
        top: 38px;
    }
}
