<header class="page-header-bottom">

    <!-- slideShow -->
    <section id="slideshow" class="slideshow">
        <div class="container" (mouseenter)="stopSlid()" (mouseleave)="startSlide()">
            <div class="main-img" #forRout routerLink="">
                <img [src]="imagesList[0].src" #current (click)="navigateToProduct($event)">
            </div>
            <div class="imagesControl" (click)="slideItem($event)">
                <img #oneImage *ngFor="let image of imagesList" src='{{image.src}}' data-id="{{image.productId}}" alt="">
            </div>
        </div>
    </section>
    <!--/ slideShow -->

    <hr>
</header>


<!-- benefits -->

<!--    <section class="benefits">-->
<!--        <ul>-->
<!--            <li class="fs">НАСЛАЖДАЙТЕСЬ БЕСПЛАТНОЙ ДОСТАВКОЙ ДЛЯ ВСЕХ ЗАКАЗОВ ОТ <span>$50</span></li>-->
<!--            <li class="lp"><a routerLink="">Loyalty<br>program</a></li>-->
<!--            <li class="gc"><a routerLink="">Buy a<br>gift card</a></li>-->
<!--            <li class="mb"><a routerLink="">Days money<br>back guarantee</a></li>-->
<!--        </ul>-->
<!--    </section>-->

<!--/ benefits -->
