
.slideshow {

    .main-img img {
        --fade-time: 0.3s;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .imagesControl {
        position: absolute;
        bottom: 5%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);

        img {
            width: 40px;
            height: 30px;
            border: 1px solid black;
            margin: 5px;
            position: relative;
            cursor: pointer;

            &:active {
                border: 2px solid white;
            }

            @media(max-width: 900px) {
                width: 30px !important;
                height: 20px !important;
                margin: 2px !important;
            }
            @media(max-width: 400px) {
                width: 15px !important;
                height: 10px !important;
                margin: 1px;
            }

        }
    }

    @media(max-width: 900px) {
        height: 400px;
    }

    @media(max-width: 600px) {
        height: 350px;
        img {
            height: 100%;
        }
    }

    @media(max-width: 400px) {
        height: 300px;
    }

    @keyframes fadeIn {
        to {
            opacity: 1;
        }
    }

    .fade-in {
        opacity: 0;
        animation: fadeIn var(--fade-time) ease-in 1 forwards;
    }
}


