<div class="lds-hourglass" *ngIf="!done"></div>

<div class="category-wrapper" *ngIf="done">
    <!-- bread crumps -->
    <nav class="bread-crumps">
        <ul>
            <li><a routerLink="/"> Миани </a></li>
            <li> {{currentCategory.name}} </li>
            <!--            <li><a href="index.html">Home</a></li>-->
            <!--            <li><a href="catalog.html">Men</a></li>-->
            <!--            <li><a href="catalog.html">Denim</a></li>-->
            <!--            <li>T-shirts</li>-->
        </ul>
    </nav>
    <!--/ bread crumps -->

    <!-- page title -->
    <!--    <h1 class="page-title">Men’s t-shirts</h1>-->

    <div *ngIf="!products">
        <h1 class="page-title">Упс :(</h1>
        <h1 class="page-title">Категория пустая</h1>
    </div>

    <div *ngIf="products">
        <h1 class="page-title">{{currentCategory.name}}</h1>
        <!--/ page title -->

        <!-- products filter -->
        <section id="products-filter" class="products-filter">
            <dl class="reset-filter" (click)="resetFilter()"><a> Сбросить </a></dl>
            <dl id="products-filter-price" class="price" (click)="lookPrice()">
                <dt>Price</dt>
                <dd #openPrice>
                    <ng5-slider
                        [(value)]="value"
                        [(highValue)]="highValue"
                        [options]="options"
                        (valueChange)="valueChange($event)"
                        (highValueChange)="highValueChange($event)"></ng5-slider>
                </dd>
            </dl>
            <dl id="products-filter-color" class="color" (click)="lookColor()">
                <dt>Color</dt>
                <dd #openColor>
                    <ng-container *ngFor="let color of colors, let colorIndex = index">
                        <input type="checkbox" name="color-{{color.key}}" id="color-{{color.key}}">

                        <label (click)="initFilterColor(colorIndex)"
                               for="color-{{color.key}}"
                               class="color-{{color.key}}">
                            <span>{{color.key}}</span>
                        </label>

                    </ng-container>
                </dd>
            </dl>
            <!--            <dl id="products-filter-size" class="size" (click)="lookSize()">-->
            <!--                <dt>Size</dt>-->
            <!--                <dd #openSize>-->
            <!--                    <input type="checkbox" *ngFor="let size of sizes" name="size-{{size}}" title="{{size}}" id="size-{{size}}"><label *ngFor="let size of sizes" for="size-{{size}}">{{size}}</label>-->

            <!--                </dd>-->
            <!--            </dl>-->
        </section>
        <!--/ catalog filter -->

        <!-- catalog -->
        <section id="catalog">
            <ul class="products-grid">

                <li class="item"
                    *ngFor="let product of (products | colorFilter : filterColor: highValue : value ), let prodIndex = index;">

                    <a (click)="navigateToProduct(currentCategory.slug, product.product_id)" class="pic">
                    <span *ngFor="let variant of product.variants, let varIndex = index"
                          [ngClass]="currentVariants[prodIndex] == varIndex ? 'active': ''">
                        <em>
                            <img *ngIf="variant.images[0]"
                                 src="{{variant.images[0].path + '_medium.' + variant.images[0].ext}}" alt="">
                        </em>
                    </span>
                    </a>

                    <div class="color">
                        <span *ngFor="let variant of product.variants, let varIndex = index"
                              [ngClass]=" currentVariants[prodIndex] == varIndex ? 'active': ''"
                              [style.background]="colors[variant.color].key"
                              (click)="initVariantOrder(prodIndex, varIndex)">

                        </span>
                    </div>

                    <h2><a>{{product.name}}</a></h2>

                    <div class="price">
                        <p *ngFor="let variant of product.variants, let varIndex = index"
                           [ngClass]=" currentVariants[prodIndex] == varIndex ? 'active': ''">
                            <span *ngIf="variant.old_price" class="old">₽{{ variant.old_price }}</span>&nbsp;
                            <span class="new">₽{{ variant.price }}</span>
                        </p>
                    </div>

                    <div class="product-dropdown" [ngClass]=" currentProduct == prodIndex ? 'active': ''">
                        <a class="switcher"></a>
                        <nav>
                            <ul>
                                <li><a (click)="addToCart(product, product.variants[currentVariants[prodIndex]].id)"
                                       class="add-to-cart"><i
                                    class="icon-shopping-cart"></i>Добавить в корзину</a></li>
                                <li><a (click)="buyByClick(product, product.variants[currentVariants[prodIndex]].id)"
                                       class="buy-with-click"><i class="icon-hand-up"></i>
                                    Купить по клику</a></li>
                                <li><a (click)="addToWish(product, product.variants[currentVariants[prodIndex]].id)"
                                       class="add-to-wish-list"><i
                                    class="icon-star"></i>Добавить в избранное</a></li>
                            </ul>
                            <div class="share">
                                <share-buttons
                                    [theme]="'outline'"
                                    [include]="['facebook','twitter','vk','telegram']"
                                    [show]="5"
                                    [size]="-6"
                                    [url]="'http://mianie.ru/category/' + currentCategory.slug + '/' + product.product_id"
                                ></share-buttons>
                            </div>

                        </nav>
                    </div>
                </li>

            </ul>

            <footer (click)="openMore()" [ngClass]="{'not-active': !canGet, 'loading': loading}" class="show-more">
                <hr>
                <a data-template="catalog" data-page="2"></a>
            </footer>

        </section>
        <!--/ catalog -->
    </div>

</div>
