.stiches {
    overflow: hidden;
    height: auto !important;
}

// // // LOADER // // //

.lds-hourglass {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 6px;
    box-sizing: border-box;
    border: 26px solid #000;
    border-color: #000 transparent #000 transparent;
    animation: lds-hourglass 1.2s infinite;
}

@keyframes lds-hourglass {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
        transform: rotate(1800deg);
    }
}

// // // MEDIA // // //

@media(max-width: 798px) {
    .products-filter .color dd {
        right: -180px !important;
        padding: 10px !important;
    }
    .products-filter .color label {
        width: 13px;
    }
    .products-filter .price dd {
        padding: 5px !important;
        right: -55px !important;
    }
}

@media(max-width: 700px) {
    .page-title {
        font-size: 27px !important;
    }
}

@media (max-width: 600px) {
    .page-title {
        text-align: center;
    }
    .products-filter {
        margin: 0 !important;
    }
    .products-filter dl {
        margin-left: 23px;
    }
}
