<nav class="bread-crumps">
    <ul>
        <li><a routerLink="">Home</a></li>
        <li>Checkout</li>
    </ul>
</nav>
<!--/ bread crumps -->

<!-- page title -->
<h1 class="page-title">Информация пользователя</h1>


<section class="checkout">
    <h2 (click)="openFirstSection()">Личные данные</h2>
    <div class="firstSection" #FirstSection>
        <!--        <p class="intro">Please select the preferred payment method to use on this order.</p>-->

        <div class="section clearfix">
            <table>
                <tr class="label">
                    <td>Имя</td>
                    <td>{{currentUser.name}}</td>

                </tr>
                <tr class="label">

                    <td colspan="2">Фамилия</td>
                    <td>{{currentUser.surname}}</td>
                </tr>


                <tr class="label">
                    <td>электронная почта</td>
                    <td>{{currentUser.email}}</td>
                    <td>
                        <button (click)="openModal('email')" class="sendButton">обновить</button>
                    </td>
                </tr>
                <tr class="label">
                    <td>Телефон</td>
                    <td>{{currentUser.phone}}</td>
                    <td>
                        <button (click)="openModal('phone')" class="sendButton">обновить</button>
                    </td>
                </tr>
                <tr class="label">
                    <td>адрес</td>
                    <td>{{currentUser.address}}</td>
                    <td>
                        <button (click)="openModal('address')" class="sendButton">обновить</button>
                    </td>
                </tr>
                <tr class="label">
                    <td>Дата регистрации</td>
                    <td>23.04.2019</td>

                </tr>
                <!--                <tr class="label">-->
                <!--                    <td>обнавлено</td>-->
                <!--                    <td>23.04.2019</td>-->
                <!--                </tr>-->

            </table>

            <button class="sendButtonAccount" (click)="deleteUser()">Удалить акаунт</button>
        </div>
        <div class='modalWindow' *ngIf="opened">
            <button (click)="close()">
                <span style="font-weight: 500; position: absolute; top: 4%; font-size: 35px; transform: rotate(45deg);right: 5%">+</span>
            </button>
            <app-profile-modal [updateItem]="updateItem" [currentUser]="currentUser"></app-profile-modal>
        </div>

    </div>
</section>
<!--/ payment method -->


<!-- checkout cart -->
<div class="lds-hourglass" *ngIf="!done"></div>

<section class="order-list" *ngIf="done">
    <h2 (click)="openSecondSection()">История заказов</h2>
    <div class="horizontal-line"></div>
    <div class="form order" #SecondSection>
        <table>
            <thead>
            <tr>
                <th>Дата</th>
                <th>Статус</th>
                <th>Стоимость</th>
                <th>Продукты</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let order of orders, let orderIndex = index"
                [style.background]="orderIndex%2 == 0 ? 'white' : ''">
                <ng-container>
                    <td style="text-align: center;">
                        {{order.created_at}}
                    </td>
                    <td style="text-align: center;" [ngClass]="order.status | lowercase">
                        {{statuses[order.status | lowercase]}}
                    </td>
                    <td style="text-align: center;">
                        {{ order.total_price }}
                    </td>
                    <td style="text-align: center;">
                        <a (click)="toggleProductsTab(orderIndex)">Смотреть продукты</a>
                    </td>
                </ng-container>
            </tr>
            </tbody>
        </table>
        <div class="order-products-modal" *ngIf="openProdModal">
            <div class="close-tab" (click)="toggleProductsTab(null)">+</div>
            <table>
                <thead>
                <tr>
                    <th>Картинка</th>
                    <th>Название</th>
                    <th>Цвет</th>
                    <th>Размер</th>
                    <th>Цена</th>
                    <th>Количество</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let product of productsToShow, let prodIndex = index"
                    [style.background]="prodIndex%2 == 0 ? '#f2f2f2' : ''">
                    <td routerLink="/products/{{ product.product_id }}">
                        <em><img *ngIf="product.images"
                                 src="{{product.images[0].path + '_medium.' + product.images[0].ext}}" alt=""></em>
                    </td>
                    <td>
                        {{ product.product_name }}
                    </td>
                    <td>
                        {{ product.color }}
                    </td>
                    <td>
                        {{ product.size }}
                    </td>
                    <td>
                        {{ product.price }}
                    </td>
                    <td>
                        {{ product.quantity }}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
