.stiches {
    height: 1200px !important;
}

.firstSection {
    display: block;
    margin: 0;
    //padding: 0;
    border: 0;
    outline: none;
    background: none;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    padding-bottom: 54px;
    color: #000;
}

.label {
    text-transform: capitalize;
    font-size: 15px;

}

.name, .surname {
    display: inline-block;
}

.sendButton {
    float: left;
    width: 70px;
    height: 27px;
    color: #fff;
    background: #c60e0e;
    border-radius: 5px;
    font-size: 12px;
    -webkit-transition: background 0.3s, color 0.3s;
    transition: background 0.3s, color 0.3s;

}

.sendButton:hover {
    background: black;

}

.sendButtonAccount {
    float: left;
    width: 100px;
    height: 27px;
    color: #fff;
    background: #c60e0e;
    border-radius: 5px;
    font-size: 12px;
    -webkit-transition: background 0.3s, color 0.3s;
    transition: background 0.3s, color 0.3s;
}

.sendButtonAccount:hover {
    background: black;
}

table {
    width: 100%;
}

td {
    width: 200px;
    text-align: left;
}

td:nth-child(even) {
    font-weight: normal;

}

.modalWindow {
    width: 50%;
    height: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    box-shadow: 3px 10px 48px rgba(68, 68, 68, 0.6);
    transform: translate(-50%, -50%);
    z-index: 1100;
    background: #f2f2f2;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 20px;
}

.waiting {
    color: orangered;
}

.inprocess {
    color: #00aced;
}

.done {
    color: #00C851;
}

.order-products-modal {
    z-index: 10000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    min-width: 200px;
    height: 70vh;
    overflow-y: auto;
    background: white;
    padding: 100px;
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;

    .close-tab{
        position: absolute;
        top: 0;
        right: 0;
        padding: 15px;
        font-size: 28px;
        transform: rotate(45deg);
    }
    thead th,  tbody td {
        text-align: center;
        min-width: 10vw;
    }

    img {
        width: 100px;
    }
}
.order{
    margin-bottom: 30px;
}
.horizontal-line{
    width: 100%;
    max-width: 720px;
    border-bottom: 1px dashed #bfbfbf;
    margin: 20px 0;
}

// // // LOADER // // //

.lds-hourglass {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 6px;
    box-sizing: border-box;
    border: 26px solid #000;
    border-color: #000 transparent #000 transparent;
    animation: lds-hourglass 1.2s infinite;
}

@keyframes lds-hourglass {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
        transform: rotate(1800deg);
    }
}

// // // MEDIA // // //

@media screen and (max-width: 798px) {
    .checkout, .order-list {
        width: auto;
        padding: 0 40px;
    }
}
@media screen and (max-width: 700px) {
    table {
        border: 0;
        width: 100%;
    }

    table caption {
        font-size: 1.3em;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    table td {
        width: auto;
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: 1.1em;
        text-align: center;
    }

    table td::before {
        /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
    table tr:last-child {
        border-bottom: 0;
    }
    table td:last-child {
        border-bottom: 0;
    }
    .page-title{
        font-size: 27px;
        text-align: center;
    }
    .sendButton{
        float:none;
        right: 0;
    }
    .order-products-modal{
        height: 100vh;
        width: 100%;
        top:0;
        left:0;
        transform: translate(0);
        padding: 0 !important;
    }
    .order-products-modal>table{
        padding:10%;
    }
}
