@media screen and (max-width: 798px) {
    .cart {
        padding: 0 40px;
    }
}

@media screen and (max-width: 700px) {
    table {
        border: 0;
        width: 100%;
    }

    table caption {
        font-size: 1.3em;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    table td::before {
        /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
    table tr:last-child {
        border-bottom: 0;
    }
    table td:last-child {
        border-bottom: 0;
    }
    .cart tbody h3 {
        height: 35px;
        font-size: 18px;
        font-weight: 600;
        text-align: center;
    }
    .cart tbody td {
        border-top: 0;
    }
    .cart tbody td:first-child{
        margin: 0 auto !important;
    }
    .cart .clearfix .right-col {
        width:100%;
    }
    .button{
        height:40px !important;
        width: auto !important;
        padding:0 5% !important;
        font-size: 11px !important;
        line-height: 43px;
    }
    .cart .clearfix .total{
        font-size: 20px;
    }

    .cart tbody dl{
        line-height: 20px;
        height: 85px;
    }
}
