<!-- bread crumps -->
<nav class="bread-crumps">
    <ul>
        <li><a routerLink="/">Домой</a></li>
        <li>Корзина</li>
    </ul>
</nav>
<!--/ bread crumps -->

<!-- page title -->
<h1 class="page-title">Корзина</h1>
<!--/ page title -->

<!-- cart -->
<section class="cart">
    <table>
        <thead>
        <tr>
            <th>&nbsp;</th>
            <th>Описание</th>
            <th>Выбранные варианты</th>
            <th>Цена</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let cartItem of cartVariants">
            <td *ngFor="let variant of cartItem.variants">
                <a [routerLink]="['/products', variant.product_id]" class="pic">
                    <img
                        src="{{variant.images[0].path + '_medium.' +
                        variant.images[0].ext}}"
                        alt=""></a>
            </td>
            <td *ngFor="let variant of cartItem.variants">
                <h3><a [routerLink]="['/products', variant.product_id]">{{ cartItem.name }}</a></h3>
                <div class="delete"><a (click)="removeFromCart(variant.product_detail_id)">Удалить</a></div>
            </td>
            <td *ngFor="let variant of cartItem.variants">
                <dl>
                    <dt>Цвет:</dt>
                    <dd>{{ colors[variant.color].value }}</dd>
                    <dt> размер:</dt>
                    <dd>{{ variant.size }}</dd>
                    <dt>Кол:</dt>
                    <dd>{{variant.cart_quantity}}</dd>
                    <a [routerLink]="['/products', variant.product_id]" class="change">Менять варианты</a>
                </dl>

            </td>
            <td *ngFor="let variant of cartItem.variants" class="price">{{variant.price }} X {{variant.cart_quantity}}</td>
        </tr>
        </tbody>
    </table>
    <div class="clearfix">
        <div class="right-col">
            <div class="total">К оплате: &nbsp; {{totalPrice}} руб.</div>
        </div>
    </div>
    <footer>
        <a routerLink="/" class="button button-secondary">Продолжить</a>
        <a routerLink="/checkout" class="button">Оформить заказ</a>
    </footer>
</section>
<!--/ cart -->


