.wrapper{
    width: 85%;
    padding: 0 40px;
}
.questionWrapper{
    background: #3b6129;
    border: 1px solid black;
    border-radius: 5px;
    height: auto;
    padding:10px 25px;
    color: #fff;
    margin:5px 0;
}
.answerWrapper{
    border: 1px solid grey;
    height: auto;
    padding:10px 20px;
    font-size: 14px;
    display: none;
    transition: 1s ease-in-out;
}
.answerWrapper:first-child{
    display: block !important;
}
.active{
    display: block;
}

