
<div *ngIf="data" [ngStyle]="{'padding': '5% 0'}">
    <div *ngFor="let d of data" class="wrapper">
        <div class="questionWrapper" (click)="toggleAccordion(element)"><p class="question">{{d.question}}</p></div>
        <div class="answerWrapper" #element><p class="answer">{{d.answer}}</p></div>
    </div>
</div>
