.loading {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999999;
    height: auto;

    .loading-background {
        position: relative;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        z-index: 9999999;
        background-color: black;
        opacity: 0.8;
    }

    .loading-content {
        z-index: 999999999;
        position: absolute;
        top: 50%;
        text-align: center;
        transform: translateY(-50%);
        transition: 1s all;
        left: 35%;
        width: 30%;
        height: 35vh;
        //background-color: #999999;
        .lds-dual-ring {
            display: inline-block;
            width: 64px;
            height: 64px;
        }

        .lds-dual-ring:after {
            content: " ";
            display: block;
            width: 46px;
            height: 46px;
            margin: 1px;
            border-radius: 50%;
            border: 5px solid #fff;
            border-color: #fff transparent #fff transparent;
            animation: lds-dual-ring 1.2s linear infinite;
        }

        @keyframes lds-dual-ring {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }

    }

    .loading-content-spinner {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}
