<div class="loading" [ngStyle]="{'display':display === 'none' ? 'none' : 'block'}">

  <div class="loading-background"></div>

  <div class="loading-content">
    <div class="loading-content-spinner">
        <div class="lds-dual-ring"></div>
    </div>
  </div>
</div>
