// // // MEDIA // // //

@media(max-width: 798px) {
    .products-filter .color dd {
        right: -180px !important;
        padding: 10px !important;
    }
    .products-filter .color label {
        width: 13px;
    }
    .products-filter .price dd {
        padding: 5px !important;
        right: -55px !important;
    }
}

@media(max-width: 700px) {
    .page-title {
        font-size: 27px !important;
    }
}

@media (max-width: 600px) {
    .page-title {
        text-align: center;
    }
    .products-filter {
        margin: 0 !important;
    }
    .products-filter dl {
        margin-left: 23px;
    }
}
