<div class="category-wrapper" *ngIf="done">
    <!-- bread crumps -->
    <nav class="bread-crumps">
        <ul>
            <li><a routerLink="/">Миани</a></li>
            <li><a>результаты поиска</a></li>
        </ul>
    </nav>
    <!--/ bread crumps -->

    <!-- page title -->
    <h1 class="page-title">Результат Поиска</h1>
    <!--/ page title -->

    <!-- products filter -->
    <section *ngIf="currentProducts.length > 0" id="products-filter" class="products-filter">
        <dl id="products-filter-price" class="price" (click)="lookPrice()">
            <dt>Price</dt>
            <dd #openPrice>
                <ng5-slider
                    [(value)]="value"
                    [(highValue)]="highValue"
                    [options]="options"
                    (valueChange)="valueChange($event)"
                    (highValueChange)="highValueChange($event)"></ng5-slider>
            </dd>
        </dl>
    </section>
    <!--/ catalog filter -->

    <section *ngIf="currentProducts.length < 1" id="not found" style="padding: 150px 0;">
        <h2 class="">Ничего не найдено !!!</h2>
    </section>

    <!-- catalog -->
    <section id="catalog" *ngIf="currentProducts.length > 0">
        <ul class="products-grid">
            <li class="item"
                *ngFor="let product of (currentProducts  | colorFilter : filterColor: highValue : value), let prodIndex = index;">
                <a (click)="navigateToProduct(product.product_id, currentVariants[prodIndex])" class="pic">
                    <span *ngFor="let variant of product.variants, let varIndex = index"
                          [ngClass]="currentVariants[prodIndex] == varIndex ? 'active': ''">
                        <em>
                            <img *ngIf="variant.images[0]"
                                 src="{{variant.images[0].path + '_medium.' + variant.images[0].ext}}" alt="">
                        </em>
                    </span>
                </a>

                <div class="color">
                        <span *ngFor="let variant of product.variants, let varIndex = index"
                              [ngClass]=" currentVariants[prodIndex] == varIndex ? 'active': ''"
                              [style.background]="colors[variant.color].key"
                              (click)="initVariantOrder(prodIndex, varIndex)">
                        </span>
                </div>

                <h2><a>{{product.name}}</a></h2>

                <div class="price">
                    <p *ngFor="let variant of product.variants, let varIndex = index"
                       [ngClass]=" currentVariants[prodIndex] == varIndex ? 'active': ''">
                        <span *ngIf="variant.old_price" class="old">₽{{ variant.old_price }}</span>&nbsp;
                        <span class="new">₽{{ variant.price }}</span>
                    </p>
                </div>

                <div class="product-dropdown">
                    <a class="switcher"></a>
                    <nav>
                        <ul>
                            <li><a (click)="addToCart(product, product.variants[currentVariants[prodIndex]].id)" class="add-to-cart"><i
                                class="icon-shopping-cart"></i>Добавить в корзину</a></li>
                            <li><a (click)="buyByClick(product)" class="buy-with-click"><i class="icon-hand-up"></i>Купить
                                по клику</a></li>
                            <li><a (click)="addToWish(product, product.variants[currentVariants[prodIndex]].id)" class="add-to-wish-list"><i
                                class="icon-star"></i>Добавить в избранное</a></li>
                        </ul>

                    </nav>
                </div>
            </li>

        </ul>

        <footer class="show-more">
            <hr>
            <a href="#" data-template="catalog" data-page="2"></a>
        </footer>
    </section>
    <!--/ catalog -->

</div>
