.invalid{
    cursor: not-allowed;
    &:hover{
        background: #d6d6d6;
    }
}
.dang{
    border: 1px solid red;
}
.form{
    display: block !important;
}
@media (max-width: 798px) {
    .checkout .col {
        width:100%;
    }
    .checkout{
        width: 75%;
        padding-left: 49px !important;
    }
    .checkout h2{
        font-size: 20px;
    }
    .checkout h2 span{
        width: 35px;
        height: 35px;
        left:-50px !important;
        line-height: 36px !important;
    }
}
@media screen and (max-width: 700px) {
    table {
        border: 0;
        width: 100%;
    }

    table caption {
        font-size: 1.3em;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    table td::before {
        /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
    table tr:last-child {
        border-bottom: 0;
    }
    table td:last-child {
        border-bottom: 0;
    }
    .cart tbody h3 {
        height: 35px;
        font-size: 18px;
        font-weight: 600;
        text-align: center;
    }
    .cart tbody td {
        border-top: 0;
    }
    .cart tbody td:first-child{
      margin: 0 auto !important;
    }
    .cart .clearfix .right-col {
        width:100%;
    }
.button{
    height:40px !important;
    width: auto !important;
    padding:0 8% !important;
    font-size: 12px !important;
    line-height: 43px;
    }
    .cart .clearfix .total{
        font-size: 20px;
    }
    }
