<!-- bread crumps -->
<nav class="bread-crumps">
    <ul>
        <li><a routerLink="/">Главная</a></li>
        <li><a routerLink="/cart">Корзина</a></li>
        <li>Оформить заказ</li>
    </ul>
</nav>
<!--/ bread crumps -->

<!-- page title -->
<h1 class="page-title">Оформить заказ</h1>
<!--/ page title -->

<div class="clearfix">

    <!-- billing information -->
    <section class="checkout">
        <h2 (click)="openForm()" [ngClass]="!open?'active':''"><span><div  [ngClass]="!open?'arrowChange':''">1</div></span>Информация об оплате</h2>
        <form [formGroup]="myForm" novalidate (ngSubmit)="submit()" class="form" *ngIf="!open">

            <div class="clearfix">
                <div class="col">
                    <div class="form-group">
                        <label class="label">Имя: <span>*</span></label>
                        <label class="input"><input type="text" class="form-control" formControlName="firstName"
                                                    [ngClass]="myForm.controls['firstName'].invalid && myForm.controls['firstName'].touched ? 'dang' : ''"></label>
                    </div>
                    <div class="form-group">
                        <label class="label">Телефон: <span>*</span></label>
                        <label class="input"><input type="tel" class="form-control" formControlName="phone"
                                                    [ngClass]="myForm.controls['phone'].invalid && myForm.controls['phone'].touched ? 'dang' : ''"></label>
                    </div>
                </div>

                <div class="col">

                    <div class="form-group">
                        <label class="label">Фамилия: <span>*</span></label>
                        <label class="input"><input type="text" class="form-control" formControlName="lastName"
                                                    [ngClass]="myForm.controls['lastName'].invalid && myForm.controls['lastName'].touched ? 'dang' : ''"></label>
                    </div>
                    <div class="form-group">
                        <label class="label">Адрес электронной почты: <span>*</span></label>
                        <label class="input"><input type="email" class="form-control" formControlName="email"
                                                    [ngClass]="myForm.controls['email'].invalid && myForm.controls['email'].touched ? 'dang' : ''"></label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="label">Адрес: <span>*</span></label>
                <label class="input"><input type="text" class="form-control" formControlName="address"
                                            [ngClass]="myForm.controls['address'].invalid && myForm.controls['address'].touched ? 'dang' : ''"></label>
            </div>
            <div class="clearfix">
                <div class="col">

<!--                    <div class="form-group">-->
<!--                        <label class="label">Город: <span>*</span></label>-->
<!--                        <label class="input"><input type="text" class="form-control" formControlName="city"-->
<!--                                                    [ngClass]="myForm.controls['city'].invalid && myForm.controls['city'].touched ? 'dang' : ''"></label>-->
<!--                    </div>-->

                </div>

                <div class="col">

<!--                    <div class="form-group">-->
<!--                        <label class="label">Почтовый индекс: <span>*</span></label>-->
<!--                        <label class="input"><input type="text" class="form-control" formControlName="zipCode"-->
<!--                                                    [ngClass]="myForm.controls['zipCode'].invalid && myForm.controls['zipCode'].touched ? 'dang' : ''"></label>-->
<!--                    </div>-->

                </div>
            </div>

            <!--            <div class="clearfix">-->
            <!--                <label class="radio"><input type="radio" name="billing" checked><i></i>Ship to this address</label>-->
            <!--            </div>-->
            <!--            <div class="clearfix">-->
            <!--                <label class="radio"><input type="radio" name="billing"><i></i>Ship to different address</label>-->
            <!--            </div>-->

            <div class="clearfix">
                <button (click)="openForm()"  class="button button-secondary" [disabled]="myForm.invalid" [ngClass]="myForm.invalid ? 'invalid' : ''">Продолжить</button>
            </div>
        </form>
    </section>
    <!--/ billing information -->


    <!-- checkout cart -->
    <section class="checkout checkout-cart">
        <h2 [ngClass]="open?'active':''"><span><div [ngClass]="open?'arrowChange':''">2</div></span>Обзор заказа</h2>
        <form class="form cart" #firstForm *ngIf="open">
            <table>
                <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>Названия товара</th>
                    <th>Параметры</th>
                    <th>Цена</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let cart of checkOutList.items, let i = index">
                    <td>
                        <a [routerLink]="['/products', cart.product_detail_id]" class="pic"><img
                            src="{{cart.images[0].path + '_medium.' + cart.images[0].ext}}"
                            alt=""></a>
                    </td>
                    <td>
                        <h3><a [routerLink]="['/products', cart.product_detail_id]">{{cart.name}}</a></h3>
                    </td>
                    <td>
                        <dl>
                            <dt>Цвет:</dt>
                            <dd>{{colors[+cart.color].value}}</dd>
                            <dt>Размер:</dt>
                            <dd>{{cart.size}}</dd>
                            <dt>Кол.:</dt>
                            <dd>{{cart.cart_quantity}}</dd>
                        </dl>
                    </td>
                    <td class="price">{{cart.price}}</td>
                </tr>
                </tbody>
            </table>
            <div class="clearfix">
                <div class="right-col">
                    <!--                    <dl>-->
                    <!--                        <dt>$136</dt>-->
                    <!--                        <dd>Subtotal:</dd>-->
                    <!--                        <dt class="discount">- $20</dt>-->
                    <!--                        <dd>Coupon code:</dd>-->
                    <!--                        <dt>$5</dt>-->
                    <!--                        <dd>Shipping & Handling:</dd>-->
                    <!--                    </dl>-->
                    <div class="total">Общая Cумма: &nbsp;{{cartList.total}}</div>
                </div>
            </div>
            <footer>
                <a routerLink="/cart" class="button button-secondary">Изменить</a>
                <a class="button" (click)="setCheckOut()">Отправить</a>
            </footer>
        </form>
    </section>
    <!--/ checkout cart -->
</div>


