<div class="product-wrapper" *ngIf="done">
    <!-- bread crumbs -->
    <nav class="bread-crumbs">
        <ul>
            <li><a routerLink="/">Миани</a></li>
            <li *ngIf="productPath.slug"><a
                [routerLink]="['/' + productPath.main + '/' + productPath.slug]">{{ currentCollectionName || productPath.slug}}</a>
            </li>
            <li>{{ selectedProduct.name }}</li>
        </ul>
    </nav>
    <!--/ bread crumbs -->

    <!-- product -->
    <section id="product" class="product clearfix" #productWrap>
        <div class="product-image-info">
            <ul id="product-thumbs" class="thumbs" *ngIf="available">
                <li *ngFor="let img of currentVariant.images, let imageIndex = index"
                    [ngClass]="imageIndex == activeImage ? 'active' : ''">
                    <a class="pic" (click)="imgActivator(imageIndex)">
                        <span>
                            <img *ngIf="img" src="{{ img.path + '_medium.' + img.ext }}" alt="">
                            <img *ngIf="!img" [src]="'assets/images/block.png'" alt="">
                        </span>
                    </a>
                </li>
            </ul>

            <ul id="product-pics" class="pics" [ngClass]="{'not-available': !available}">
                <li *ngFor="let img of currentVariant.images, let imageIndex = index"
                    [ngClass]="imageIndex == activeImage ? 'active' : ''">
                    <a (click)="zoomed()" class="pic">
                        <img *ngIf="img" [style.opacity]="!available ? 0 : 1" src="{{ img.path + imageSize + img.ext }}"
                             alt="">
                        <img *ngIf="!img" [style.opacity]="!available ? 0 : 1" [src]="'assets/images/block.png'" alt="">
                    </a>
                </li>
            </ul>

            <a id="product-zoom" class="zoom" (click)="zoomed()">zoom</a>
        </div>
        <!---->
        <div class="info">
            <h1>{{ selectedProduct.name }}</h1>
            <!--                                    <div class="article">Articul: AA3476BC</div>-->
            <!---->
            <div class="actions">
                <div class="clearfix">
                    <div class="size">
                        <label class="label">Размер
                            <!--                                    <a id="size-charts-opener" (click)="sizeChartsOpener()">Размеры</a>-->
                        </label>
                        <label class="select">
                            <select #currentSize (change)="initSelectedVariantSize(currentSize.value)">
                                <option *ngFor="let size of currentSizesArray"
                                        [selected]="currentVariant.size == size"
                                        [value]="size">{{ size }}</option>
                            </select>
                            <i></i>
                        </label>
                    </div>
                    <div class="color">
                        <label class="label">Цвет</label>
                        <label class="select">
                            <select #currentColor (change)="initSelectedVariantColor(currentColor.value)">
                                <option *ngFor="let color of currentColorsArray"
                                        [selected]="currentVariant.color == color"
                                        [value]="color">{{ colors[color].value }}</option>
                            </select>
                            <i></i>
                        </label>
                    </div>
                    <div class="qty">
                        <label class="label">Кол</label>
                        <label class="input">
                            <input type="number" value="1" [(ngModel)]="currentQuantity">
                        </label>
                    </div>
                </div>

                <div class="price">{{ currentVariant.price }} ₽</div>

                <a [ngClass]="{'not-active': !available}" (click)="addToWish(selectedProduct, currentVariant.id)"
                   class="add-to-wl"><i
                    class="icon-heart"></i>
                    <span style="margin-left: 2px">В избранное</span>
                </a>

                <a [ngClass]="{'not-active': !available}" (click)="addToCart(selectedProduct, currentVariant.id)"
                   class="button">
                    В корзину</a>

            </div>

            <div class="share">
                <span>Поделиться:</span>
                <share-buttons
                    [theme]="'outline'"
                    [include]="['facebook','twitter','vk','telegram']"
                    [show]="5"
                    [size]="-6"
                    [url]="'http://mianie.ru/products/' + selectedProduct.product_id"
                ></share-buttons>
            </div>

            <!---->


            <ul id="product-tabs" class="tabs">
                <li (click)="activateTab(0)" [ngClass]="activeTab == 0 ? 'active' : ''">Описание</li>
                <li (click)="activateTab(1)" [ngClass]="activeTab == 1 ? 'active' : ''">Отзывы</li>
            </ul>

            <ul class="tabs-content">
                <li [ngClass]="activeTab == 0 ? 'active' : ''">
                    <div class="summary">
                        <p [innerHTML]="selectedProductDescription"></p>
                        <!--                        <p>It is a long established fact that a reader will be distracted by the readable-->
                        <!--                            content of a-->
                        <!--                            page when-->
                        <!--                            looking at its layout.</p>-->
                        <!--                        <p>Pellentesque et est aliquet elit dignissim lacinia nec id lorem. Nunc non dui odio.-->
                        <!--                            Vivamus-->
                        <!--                            mi quam,-->
                        <!--                            iaculis in mi ut, facilisis pharetra metus. Sed porta justo purus, at ullamcorper-->
                        <!--                            neque-->
                        <!--                            porttitor.</p>-->
                    </div>
                </li>
                <!---->

                <li [ngClass]="activeTab == 1 ? 'active' : ''">
                    <ul class="reviews" *ngIf="reviews">
                        <li *ngFor="let review of reviews">
                            <p><strong>{{review.user_name}}:</strong> {{review.comment}}</p>
                            <div class="quality">Quality&nbsp;
                                <i class="icon-star" [ngClass]="{'filled': review.rate >= 1}"></i>
                                <i class="icon-star" [ngClass]="{'filled': review.rate >= 2}"></i>
                                <i class="icon-star" [ngClass]="{'filled': review.rate >= 3}"></i>
                                <i class="icon-star" [ngClass]="{'filled': review.rate >= 4}"></i>
                                <i class="icon-star" [ngClass]="{'filled': review.rate >= 5}"></i>
                            </div>
                        </li>
                        <li><p *ngIf="reviews.length < 1"><strong> </strong>Пока нет отзывов</p></li>
                    </ul>
                    <form *ngIf="permission" (ngSubmit)="submitReview()" [formGroup]="reviewGroup"
                          class="add-review clearfix">

                        <div class="form-group">
                            <label class="textarea">
                                <textarea formControlName="comment" rows="4"
                                          placeholder="Text of the review"></textarea>
                            </label>
                        </div>

                        <div class="rating">
                            <input type="radio" name="stars-rating" id="stars-rating-5">
                            <label for="stars-rating-5"><i class="icon-star"></i></label>
                            <input type="radio" name="stars-rating" id="stars-rating-4">
                            <label for="stars-rating-4"><i class="icon-star"></i></label>
                            <input type="radio" name="stars-rating" id="stars-rating-3">
                            <label for="stars-rating-3"><i class="icon-star"></i></label>
                            <input type="radio" name="stars-rating" id="stars-rating-2">
                            <label for="stars-rating-2"><i class="icon-star"></i></label>
                            <input type="radio" name="stars-rating" id="stars-rating-1">
                            <label for="stars-rating-1"><i class="icon-star"></i></label>
                            Quality
                        </div>
                        <button type="submit" class="button button-small">Оставить отзив</button>
                    </form>
                </li>
            </ul>

        </div>
    </section>
    <!--/ product -->


    <!-- recommended products -->

    <section id="recommended">

        <header class="section-title">Вам может понравиться:</header>

        <ul class="products-grid">
            <li class="items"
                *ngFor="let recProd of recommendedProducts, let recIndex = index">
                <a [routerLink]="['/products', recProd.product_id]" class="pic">
                    <span *ngFor="let variant of recProd.variants, let varIndex = index"
                          [ngClass]="recProdVariants[recIndex] == varIndex ? 'active': ''">
                        <em>
                            <img *ngIf="variant.images[0]"
                                 src="{{variant.images[0].path + '_medium.' + variant.images[0].ext}}" alt="">
                        </em>
                    </span>
                </a>

                <div class="color">
                     <span *ngFor="let variant of recProd.variants, let varIndex = index"
                           [ngClass]=" recProdVariants[recIndex] == varIndex ? 'active': ''"
                           [style.background]="colors[variant.color].key"
                           (click)="initRecVariantOrder(recIndex, varIndex)">
                     </span>
                </div>

                <h2><a [routerLink]="['/products', selectedProduct.product_id]">{{ recProd.name }}</a></h2>

                <div class="price">
                    <p *ngFor="let variant of recProd.variants, let varIndex = index"
                       [ngClass]=" recProdVariants[recIndex] == varIndex ? 'active': ''">
                        <span *ngIf="variant.old_price" class="old">₽{{ variant.old_price }}</span>&nbsp;
                        <span class="new">₽{{ variant.price }}</span>
                    </p>
                </div>
                <div class="product-dropdown" [ngClass]=" currentProduct == recIndex ? 'active': ''">
                    <a href="#" class="switcher"></a>
                    <nav>
                        <ul>
                            <li>
                                <a (click)="addToCart(recProd, recProd.variants[recProdVariants[recIndex]].id)"
                                   class="add-to-cart">
                                    <i class="icon-shopping-cart"></i>Добавить в корзину
                                </a>
                            </li>
                            <li>
                                <a (click)="buyByClick(recProd, recProd.variants[recProdVariants[recIndex]].id)"
                                   class="buy-with-click">
                                    <i class="icon-hand-up"></i>Купить по клику
                                </a>
                            </li>
                            <li>
                                <a (click)="addToWish(recProd, recProd.variants[recProdVariants[recIndex]].id)"
                                   class="add-to-wish-list">
                                    <i class="icon-star"></i>Добавить в избранное
                                </a>
                            </li>
                        </ul>
                        <div class="share">
                            <share-buttons
                                [theme]="'outline'"
                                [include]="['facebook','twitter','vk','telegram']"
                                [show]="5"
                                [size]="-6"
                                [url]="'http://mianie.ru/products/' + recProd.product_id"
                            ></share-buttons>
                        </div>
                    </nav>
                </div>
            </li>
        </ul>

    </section>
    <!--    / recommended products -->


</div>
<!--                    &lt;!&ndash;                        <div id="size-charts" class="size-charts" #sizeCharts>&ndash;&gt;-->
<!--                    &lt;!&ndash;                            <i class="icon-remove" (click)="iconRemove()"></i>&ndash;&gt;-->
<!--                    &lt;!&ndash;                            <label class="label">Size charts</label>&ndash;&gt;-->
<!--                    &lt;!&ndash;                            <table>&ndash;&gt;-->
<!--                    &lt;!&ndash;                                <tr>&ndash;&gt;-->
<!--                    &lt;!&ndash;                                    <th>&nbsp;</th>&ndash;&gt;-->
<!--                    &lt;!&ndash;                                    <th>XS</th>&ndash;&gt;-->
<!--                    &lt;!&ndash;                                    <th>S</th>&ndash;&gt;-->
<!--                    &lt;!&ndash;                                    <th>M</th>&ndash;&gt;-->
<!--                    &lt;!&ndash;                                    <th>L</th>&ndash;&gt;-->
<!--                    &lt;!&ndash;                                    <th>XL</th>&ndash;&gt;-->
<!--                    &lt;!&ndash;                                    <th>XXL</th>&ndash;&gt;-->
<!--                    &lt;!&ndash;                                </tr>&ndash;&gt;-->
<!--                    &lt;!&ndash;                                <tr>&ndash;&gt;-->
<!--                    &lt;!&ndash;                                    <td>Chest, inches</td>&ndash;&gt;-->
<!--                    &lt;!&ndash;                                    <td>30-32</td>&ndash;&gt;-->
<!--                    &lt;!&ndash;                                    <td>34-36</td>&ndash;&gt;-->
<!--                    &lt;!&ndash;                                    <td>38-40</td>&ndash;&gt;-->
<!--                    &lt;!&ndash;                                    <td>42-44</td>&ndash;&gt;-->
<!--                    &lt;!&ndash;                                    <td>46-48</td>&ndash;&gt;-->
<!--                    &lt;!&ndash;                                    <td>48-50</td>&ndash;&gt;-->
<!--                    &lt;!&ndash;                                </tr>&ndash;&gt;-->
<!--                    &lt;!&ndash;                                <tr>&ndash;&gt;-->
<!--                    &lt;!&ndash;                                    <td>Waist, inches</td>&ndash;&gt;-->
<!--                    &lt;!&ndash;                                    <td>28-30</td>&ndash;&gt;-->
<!--                    &lt;!&ndash;                                    <td>30-32</td>&ndash;&gt;-->
<!--                    &lt;!&ndash;                                    <td>32-33</td>&ndash;&gt;-->
<!--                    &lt;!&ndash;                                    <td>33-34</td>&ndash;&gt;-->
<!--                    &lt;!&ndash;                                    <td>36-38</td>&ndash;&gt;-->
<!--                    &lt;!&ndash;                                    <td>40-42</td>&ndash;&gt;-->
<!--                    &lt;!&ndash;                                </tr>&ndash;&gt;-->
<!--                    &lt;!&ndash;                            </table>&ndash;&gt;-->
<!--                    &lt;!&ndash;                            <img src="assets/images/product/size-charts.png" width="216" height="180" alt="">&ndash;&gt;-->
<!--                    &lt;!&ndash;                            <dl>&ndash;&gt;-->
<!--                    &lt;!&ndash;                                <dt>Chest:</dt>&ndash;&gt;-->
<!--                    &lt;!&ndash;                                <dd>Measure around the fullest part, place the tape close under the arms and make sure&ndash;&gt;-->
<!--                    &lt;!&ndash;                                    the tape is flat&ndash;&gt;-->
<!--                    &lt;!&ndash;                                    across the back.&ndash;&gt;-->
<!--                    &lt;!&ndash;                                </dd>&ndash;&gt;-->
<!--                    &lt;!&ndash;                                <dt>Waist:</dt>&ndash;&gt;-->
<!--                    &lt;!&ndash;                                <dd>Measure around the fullest part, place the tape close under the arms and make sure&ndash;&gt;-->
<!--                    &lt;!&ndash;                                    the tape is flat&ndash;&gt;-->
<!--                    &lt;!&ndash;                                    across the back.&ndash;&gt;-->
<!--                    &lt;!&ndash;                                </dd>&ndash;&gt;-->
<!--                    &lt;!&ndash;                            </dl>&ndash;&gt;-->
<!--                    &lt;!&ndash;                        </div>&ndash;&gt;-->
<!--                </div>-->
<!--                &lt;!&ndash;                    <div class="share">&ndash;&gt;-->
<!--                &lt;!&ndash;                        <span>Share:</span>&ndash;&gt;-->
<!--                &lt;!&ndash;                        <a href="#"><i class="icon-facebook-sign"></i></a>&ndash;&gt;-->
<!--                &lt;!&ndash;                        <a href="#"><i class="icon-twitter"></i></a>&ndash;&gt;-->
<!--                &lt;!&ndash;                        <a href="#"><i class="icon-google-plus-sign"></i></a>&ndash;&gt;-->
<!--                &lt;!&ndash;                        <a href="#"><i class="icon-pinterest"></i></a>&ndash;&gt;-->
<!--                &lt;!&ndash;                    </div>&ndash;&gt;-->
