.not-available {
    background-image: url(../../../../assets/images/block.png);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}


// // // MEDIA // // //

@media (max-width: 1125px) {
    .product {
        width: 100%;
    }

    .product .pics {
        width: 42%;
    }

    .product .pics img {
        width: 100%;
    }

    .product .zoom {
        left: 52%;
    }

    .product .info {
        width: calc(100% - 52% - 52px - 18px);
    }

    .product .actions {
        height: calc(48px + 48px + 73px);
    }

    .product .actions .size, .product .actions .color {
        width: 38%;
    }
    .product .actions .qty {
        width: calc(100% - 76% - 36px);
    }

    // // // Zoomed // // //
    .product-zoomed .zoom {
        left: calc(100% - 54px);
    }

    .product-zoomed .pics {
        width: calc(100% - 85px - 52px - 18px);
    }

}

@media (max-width: 884px) {
    .product-image-info {
        width: 100%;
        height: 600px;
    }

    .product .pics {
        width: calc(100% - 84px - 52px);
    }

    .product .zoom {
        display: none;
    }

    .product .info {
        width: 100%;
    }

    .product .pics .pic:hover, .product .pics .active:hover {
        cursor: default;
    }

}

@media (max-width: 798px) {
    .product-image-info {
        padding: 0 24px;
    }
    .product .info {
        padding: 0 24px;
        width: calc(100% - 44px);
    }
}

@media (max-width: 500px) {
    .product .pics {
        height: 500px;
    }
    .product-image-info {
        height: 500px;
    }
    .product .pics .pic {
        line-height: 500px;
    }
}
@media (max-width: 400px) {
    .product .pics {
        height: 400px;
    }
    .product-image-info {
        height: 400px;
    }
    .product .pics .pic {
        line-height: 400px;
    }
}

@media (max-width: 320px) {
    .product .pics {
        height: 320px;
    }
    .product-image-info {
        height: 320px;
    }
    .product .pics .pic {
        line-height: 320px;
    }
}

