<div class="wrapperContact">

    <form [formGroup]="myForm" novalidate (ngSubmit)="submit()">

        <div class="form-group">
            <div class="alert alert-danger" *ngIf="myForm.controls['name'].invalid && myForm.controls['name'].touched">
                Enter Name*
            </div>

            <label for="name" class="lab">Имя<span style="color: red">*</span></label>
            <input id="name"
                   class="form-control"
                   name="name"
                   formControlName="name"
                   [ngClass]="myForm.controls['name'].invalid && myForm.controls['name'].touched ? 'dang' : ''"/>
        </div>

        <div class="form-group">
            <div class="alert alert-danger"
                 *ngIf="myForm.controls['email'].invalid && myForm.controls['email'].touched">
                Incorrect email*
            </div>

            <label for="email" class="lab">электронная почта<span style="color: red">*</span></label>
            <input id="email"
                   class="form-control"
                   name="email"
                   formControlName="email"
                   [ngClass]="myForm.controls['email'].invalid && myForm.controls['email'].touched ? 'dang' : ''"/>
        </div>

        <div class="form-group">
            <div class="alert alert-danger" *ngIf="myForm.controls['phone'].invalid && myForm.controls['phone'].touched">
                Incorrect phone*
            </div>

            <label for="phone" class="lab">Телефон<span style="color: red">*</span></label>
            <input id="phone"
                   class="form-control"
                   name="phone"
                   formControlName="phone"
                   [ngClass]="myForm.controls['phone'].invalid && myForm.controls['phone'].touched ? 'dang' : ''"/>
        </div>

        <div class="form-group">
            <div class="alert alert-danger" *ngIf="myForm.controls['subject'].invalid && myForm.controls['subject'].touched">
                Incorrect phone*
            </div>

            <label for="subject" class="lab">Teма<span style="color: red">*</span></label>
            <input id="subject"
                   class="form-control"
                   name="subject"
                   formControlName="subject"
                   [ngClass]="myForm.controls['subject'].invalid && myForm.controls['subject'].touched ? 'dang' : ''"/>
        </div>

        <div class="form-group">
            <div class="alert alert-danger" *ngIf="myForm.controls['text'].invalid && myForm.controls['text'].touched">
                Enter text*
            </div>

            <label for="textarea" class="lab">Текст<span style="color: red">*</span></label>
            <textarea id="textarea"
                      class="form-control text"
                      name="textarea"
                      rows="10"
                      cols="54"
                      formControlName="text"
                      [ngStyle]="{'border': '2px solid #696969', 'border-radius': '5px', 'margin': '10px'}">
            </textarea>
        </div>


        <div class="form-group">
            <button class="btn btn-primary" [disabled]="myForm.invalid">
                Отправить
            </button>
        </div>
    </form>

</div>
