.wrapperContact {
    width: 400px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

input {
    width: 100%;
    height: 36px;
    padding: 6px 10px 5px;
    border: 1px solid #c3c3c3;
    border-radius: 3px;
    background: #fff;
    font-size: 14px;
    line-height: 19px;
    color: #3d3d3d;
    @media(max-width: 1440px) {
        height: 20px;
    }

}

textarea {
    width: 100%;
}

.lab {
    display: block;
    font-size: 11px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase !important;
    color: #000 !important;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.text {
    color: #3d3d3d;
    padding: 6px 10px 5px;
    border: 1px solid #c3c3c3 !important;
    border-radius: 3px;
    background: #fff;
    font-size: 14px;
    line-height: 19px;
    margin: 0 !important;
}

.btn {
    float: right;
    width: 100px;
    height: 50px;
    color: #fff;
    margin: 20px 0;
    background: #c60e0e;
    border-radius: 5px;
    font-size: 14px;
    -webkit-transition: background 0.3s, color 0.3s;
    transition: background 0.3s, color 0.3s;
}

.btn:hover {
    background: black;

}

.alert-danger {
    color: #c60e0e;
    float: right;
    font-size: 11px;
    line-height: 36px;
    -webkit-transition: 2s ease-in-out;
    -moz-transition: 2s ease-in-out;
    -ms-transition: 2s ease-in-out;
    -o-transition: 2s ease-in-out;
    transition: 2s ease-in-out;
}

.dang {
    border: 1px solid red;

}

body {
    overflow: hidden;
}
