<div class="window">
    <form [formGroup]="myForm" novalidate (ngSubmit)="submit()">

        <div class="form-group" *ngIf="updateItem == 'address'">
            <label for="address" class="label">адрес<span style="color:red">*</span></label>
            <input id="address" class="form-control" name="address" formControlName="address"
                   [ngClass]="myForm.controls['address'].invalid && myForm.controls['address'].dirty ? 'dang insertName' : 'insertName'"/>
        </div>

        <div class="form-group" *ngIf="updateItem == 'email'">
            <label for="email" class="label">электронная почта<span style="color:red">*</span></label>
            <input id="email" class="form-control" name="email" formControlName="email"
                   [ngClass]="myForm.controls['email'].invalid && myForm.controls['email'].dirty ? 'dang insertName' : 'insertName'"/>
        </div>

        <div class="form-group" *ngIf="updateItem == 'phone'">
            <label for="phone" class="label">Телафон<span style="color:red">*</span></label>
            <input id="phone" class="form-control" name="phone" formControlName="phone"
                   [ngClass]="myForm.controls['phone'].invalid && myForm.controls['phone'].dirty ? 'dang insertName' : 'insertName'"/>
        </div>

        <div class="form-group">
            <button class="btn btn-primary sendButton">
                Send
            </button>
        </div>

    </form>
</div>
