<section id="publications" class="publications">
    <header>
        <span>What’s new:</span>
        <a href="#" data-filter="*" class="alpha active">All updates</a>
        <a href="#" data-filter=".tw">Twitter</a>
        <a href="#" data-filter=".fb">Facebook </a>
        <a href="#" data-filter=".yt">Youtube</a>
        <a href="#" data-filter=".cl">Collections</a>
        <a href="#" data-filter=".nw" class="omega">News</a>
    </header>

    <ul>
        <li class="nw">
            <a href="#" class="pic"><img src="assets/demo/publications/nw1.jpg" width="150" height="126" alt=""></a>
            <dl>
                <dt><a href="#">Lorem Ipsum is simply dummy text of the printing and typesetting industry</a></dt>
                <dd>It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at its layout.</dd>
            </dl>
            <div>
                <i class="icon-bullhorn"></i>
                15 minutes ago
            </div>
            <em class="sort">1</em>
        </li>

        <li class="cl">
            <a href="#"><img src="assets/demo/publications/cl1.jpg" width="234" height="414" alt=""></a>
            <em class="sort">1</em>
        </li>

        <li class="tw">
            <dl>
                <dt><a href="#">@brendname</a></dt>
                <dd>It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at its layout.</dd>
            </dl>
            <div>
                <i class="icon-twitter"></i>
                45 minutes ago
            </div>
            <em class="sort">1</em>
        </li>

        <li class="yt">
            <img src="assets/demo/publications/yt1.jpg" width="234" height="198" alt="">
            <i class="icon-film"></i>
            <i class="icon-play"></i>
            <a href="http://www.youtube.com/watch?v=7NZ9X9A2efA" title="Bugatti Veyron vs. Euro Fighter"
                class="pretty-photo"></a>
            <em class="sort">1</em>
        </li>

        <li class="tw">
            <dl>
                <dt><a href="#">@brendname</a></dt>
                <dd>Reader will be distracted by the readable content of a page when looking at its layout.</dd>
            </dl>
            <div>
                <i class="icon-twitter"></i>
                2 days ago
            </div>
            <em class="sort">1</em>
        </li>

        <li class="yt">
            <img src="assets/demo/publications/yt2.jpg" width="234" height="198" alt="">
            <i class="icon-film"></i>
            <i class="icon-play"></i>
            <a href="http://www.youtube.com/watch?v=RXqSedWSu2k" title="Bugatti Veyron vs. McLaren F1"
                class="pretty-photo"></a>
            <em class="sort">1</em>
        </li>

        <li class="fb">
            <a href="#" class="pic"><img src="assets/demo/publications/fb1.jpg" width="150" height="126" alt=""></a>
            <dl>
                <dt><a href="#">Contrary to popular belief</a></dt>
                <dd>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                    alteration in some form.</dd>
            </dl>
            <div>
                <i class="icon-facebook-sign"></i>
                5 days ago
            </div>
            <em class="sort">1</em>
        </li>

        <li class="st">
            <form action="#" class="form">
                <label class="label">E-mail</label>
                <button type="submit" class="button button-small">Ok</button>
                <label class="input"><input type="text"></label>
                <div class="unsubscribe"><a href="#">Unsubscribe</a></div>

                <div class="follow">
                    <a href="#"><i class="icon-pinterest"></i></a>
                    <a href="#"><i class="icon-google-plus-sign"></i></a>
                    <a href="#"><i class="icon-twitter"></i></a>
                    <a href="#"><i class="icon-facebook-sign"></i></a>
                    Follow us lili:
                </div>
            </form>
            <em class="sort">2</em>
        </li>
    </ul>

    <footer class="show-more">
        <hr>
        <a href="#" data-template="publications" data-page="2"></a>
    </footer>
</section>
