.editor-content-wrapper {
    min-height: 60vh;

    .cover-wrapper {
        position: relative;

        img {
            width: 100%!important;
            height: 40vh!important;
            object-fit: cover!important;
            object-position: top!important;
        }

        .cover-title {
            color: white;
            font-size: 80px;
            position: absolute;
            top: 50%;
            left: 20%;
            transform: translateY(-50%);
        }
    }

    .page-title{
        font-size: 80px;
        padding: 50px;
    }
}
