<div class="editor-content-wrapper"  *ngIf="done" [style.padding]="'20px'">

    <div class="cover-wrapper" *ngIf="page.cover.path && page.cover.ext">
        <img [src]="page.cover.path + '_medium.' + page.cover.ext" alt="">
        <h2 class="cover-title">{{ page.title }}</h2>
    </div>

    <h2 *ngIf="!page.cover.path || !page.cover.ext" class="page-title">{{ page.title }}</h2>

    <div id="editor-content" class="editor-content" [innerHTML]="page.content  | htmlSafe"></div>
    <div class="clearfix"></div>

</div>
