.body {
  width: 100%;
  overflow-x: hidden;
}
.stiches {
  width: 1100px;
  height: auto;
  min-height: 660px;
  margin: 0 auto;
  padding: 0 54px;
  border: 1px dashed #bfbfbf;
  border-top: 0;
  border-radius: 0 0 20px 20px;
}
@media(max-width: 1200px) {
    .stiches {
        width: auto !important;
    }
}
