.reset-main {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    .reset-block {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        margin: auto;
        width: 40vw;
        height: 30vh;
        .button {
            margin-top: 20px;
        }
    }
}
