<div class="reset-main">
    <div *ngIf="!token" class="reset-block">
        <h1>Enter your email</h1>

        <form class="form-group" [formGroup]="sendEmailForm" (ngSubmit)="onSendEmail()">
            <label class="label">Your email: <span>*</span></label>
            <label class="input">
                <input [ngClass]="{'incorrect': submitted && emailFormControl.email.errors}" formControlName="email"
                       type="text">
                <span *ngIf="submitted && emailFormControl.email.errors" class="incorrect-feedback">
                    Введите корректный майл
                </span>
            </label>

            <button type="submit" class="button button-secondary">Send</button>
        </form>

    </div>

    <div *ngIf="token" class="reset-block">
        <h1>Create new password</h1>

        <form class="form-group" [formGroup]="createNewPassword" (ngSubmit)="onCreate()">
            <label class="label">New password: <span>*</span></label>
            <label class="input">
                <input [ngClass]="{'incorrect': submitted && passwordFormControl.newPassword.errors}" formControlName="newPassword" type="password" placeholder="Новый пароль">
                <span *ngIf="submitted && passwordFormControl.newPassword.errors" class="incorrect-feedback">
                    Пароль должен состоять минимум из 8-и символов
                </span>
            </label>
            <button type="submit" class="button button-secondary">Create new password</button>
        </form>

    </div>
</div>

<!--<div class="reset-main">-->
<!--    <div class="reset-block">-->
<!--        <h1>Create new password</h1>-->

<!--        <form class="form-group" [formGroup]="createNewPassword" (ngSubmit)="onReset()">-->
<!--            <label class="label">New password: <span>*</span></label>-->
<!--            <label class="input"><input formControlName="newPassword" type="text"></label>-->
<!--            <button type="submit" class="button button-secondary">Create new password</button>-->
<!--        </form>-->

<!--    </div>-->
<!--</div>-->
