<section id="featured-products" class="featured-products">

    <header>
        <a *ngFor="let collection of collections, let colIndex = index"
           [style.coursor]="'pointer'"
           (click)="changCollection(colIndex)"
           [ngClass]="currentColIndex === colIndex ? 'active': ''">{{ collection.collection_name }}
        </a>
    </header>

    <ul id="products-showcase" class="products-showcase">
        <li *ngFor="let collection of collections, let colIndex = index"
            id="collection-{{ colIndex }}-top"
            [ngClass]="currentColIndex === colIndex ? 'active': ''">
            <ol>
                <li *ngFor="let product of collection.products, let prodIndex = index">
                    <a (click)="navigateToProduct(collection.slug, product.product_id, currentVariants[colIndex][prodIndex])"
                       class="pic">
                        <span *ngFor="let variant of product.variants, let varIndex = index"
                              [ngClass]=" currentVariants[colIndex][prodIndex] == varIndex ? 'active': ''">
                  <em><img *ngIf="variant.images[0]"
                           src="{{variant.images[0].path + '_medium.' + variant.images[0].ext}}" alt=""></em>
                </span>
                    </a>
                    <h2><a
                        (click)="navigateToProduct(collection.slug, product.product_id, currentVariants[colIndex][prodIndex])">{{ product.name }}</a>
                    </h2>
                    <div class="color">
                        <span *ngFor="let variant of product.variants, let varIndex = index"
                              [ngClass]=" currentVariants[colIndex][prodIndex] == varIndex ? 'active': ''"
                              [style.background]="colors[variant.color].key"
                              (click)="initVariantOrder(colIndex, prodIndex, varIndex)"></span>
                    </div>
                    <div class="price">
                        <span *ngFor="let variant of product.variants, let varIndex = index"
                              [ngStyle]="{'display': currentVariants[colIndex][prodIndex] == varIndex ? 'block': 'none'}"
                              [ngClass]=" currentVariants[colIndex][prodIndex] == varIndex ? 'active': ''">₽{{ variant.price }}</span>
                    </div>
                    <a (click)="addToCart(product, product.variants[currentVariants[colIndex][prodIndex]].id)"
                       class="button button-small">Добавить
                        в корзину</a>
                    <div class="product-dropdown">
                        <a href="" class="switcher"></a>
                        <nav [style.top]="'-250px'">
                            <ul>
                                <li>
                                    <a (click)="buyByClick(product, product.variants[currentVariants[colIndex][prodIndex]].id)"
                                       class="buy-with-click">
                                        <i class="icon-hand-up"></i>Купить в клик
                                    </a>
                                </li>
                                <li>
                                    <a (click)="addToWish(product, product.variants[currentVariants[colIndex][prodIndex]].id)"
                                       class="add-to-wish-list"><i class="icon-star">
                                    </i>Добавить в избранное</a>
                                </li>
                                <li>
                                    <a (click)="navigateToProduct(collection.slug, product.product_id, currentVariants[colIndex][prodIndex])"
                                       class="add-to-wish-list">
                                        <i class="icon-tasks"></i>Смотреть продукт
                                    </a>
                                </li>
                            </ul>
                            <div class="share">
                                <share-buttons [theme]="'outline'"
                                               [include]="['facebook','twitter','vk','telegram']"
                                               [show]="5"
                                               [size]="-6"
                                               [url]="'http://mianie.ru/collection/' + collection.slug + '/' + product.product_id"
                                ></share-buttons>
                            </div>
                        </nav>
                    </div>
                    <a *ngIf="collection.products.length > 1" class="prev"></a>
                    <a *ngIf="collection.products.length > 1" class="next"></a>
                </li>
            </ol>
            <div class="collection-desc">{{ collection.description }}</div>
        </li>
    </ul>

    <!-- --------------------productList---------------- -->

    <ul *ngFor="let collection of collections, let colIndex = index"
        [ngClass]="colIndex == currentColIndex ? 'actived' : ''"
        [style.transition]="'opacity 0.6s, -o-transform 0.6s'"
        class="products-grid">
        <li class="item new" *ngFor="let product of collection.products, let prodIndex = index;">
            <a (click)="navigateToProduct(collection.slug, product.product_id, currentVariants[colIndex][prodIndex])"
               class="pic">
                <span *ngFor="let variant of product.variants, let varIndex = index"
                      [ngClass]=" currentVariants[colIndex][prodIndex] == varIndex ? 'active': ''">
                  <em><img *ngIf="variant.images[0]"
                           src="{{variant.images[0].path + '_medium.' + variant.images[0].ext}}" alt=""></em>
                </span>
                <!--        <span><em><img src="assets/demo/products/{{product.variants[1].image}}" alt=""></em></span>-->
            </a>

            <div class="color">
                <span *ngFor="let variant of product.variants, let varIndex = index"
                      [ngClass]=" currentVariants[colIndex][prodIndex] == varIndex ? 'active': ''"
                      [style.background]="colors[variant.color].key"
                      (click)="initVariantOrder(colIndex, prodIndex, varIndex)"></span>
            </div>

            <h2><a>{{product.name}}</a></h2>

            <div class="price">
                <p *ngFor="let variant of product.variants, let varIndex = index"
                   [ngClass]=" currentVariants[colIndex][prodIndex] == varIndex ? 'active': ''">
                    <span *ngIf="variant.old_price" class="old">₽{{ variant.old_price }}</span>&nbsp;
                    <span class="new">₽{{ variant.price }}</span>
                </p>
            </div>

            <div class="product-dropdown" [ngClass]=" currentProduct == prodIndex ? 'active': ''">
                <a href="" class="switcher"></a>
                <nav>
                    <ul>
                        <li>
                            <a (click)="addToCart(product, product.variants[currentVariants[colIndex][prodIndex]].id)"
                               class="add-to-cart">
                                <i class="icon-shopping-cart"></i>Добавить в корзину
                            </a>
                        </li>
                        <li>
                            <a (click)="buyByClick(product, product.variants[currentVariants[colIndex][prodIndex]].id)"
                               class="buy-with-click">
                                <i class="icon-hand-up"></i>Купить по клику
                            </a>
                        </li>
                        <li>
                            <a (click)="addToWish(product, product.variants[currentVariants[colIndex][prodIndex]].id)"
                               class="add-to-wish-list">
                                <i class="icon-star"></i>Добавить в избранное
                            </a>
                        </li>
                    </ul>
                    <div class="share">
                        <share-buttons
                            [theme]="'outline'"
                            [include]="['facebook','twitter','vk','telegram']"
                            [show]="5"
                            [size]="-6"
                            [url]="'http://mianie.ru/collection/' + collection.slug + '/' + product.product_id"
                        ></share-buttons>
                    </div>
                </nav>
            </div>
        </li>
    </ul>
    <footer class="show-more">
        <hr>
        <a (click)="showMore()"></a>
    </footer>
</section>
