<!--<div class="clearfix"></div>-->

<footer class="page-footer">
    <div class="col one">
        <!-- secondary phone -->
        <div class="secondary-phone">
            <p>Позвоните нам !</p>
            <p>{{socialLinks['phone-number']}}</p>
            <i class="icon-comment"></i>
        </div>


        <form [formGroup]="myForm" novalidate (ngSubmit)="submit()">

            <div class="form-group">
                <label class="label">Подписаться</label>
                <input class="form-control" name="email" formControlName="email" placeholder="e-mail"
                       [ngClass]="myForm.controls['email'].invalid && myForm.controls['email'].dirty ? 'dang insertName' : 'insertName'"/>
            </div>
            <div class="form-group">

                <button class="btn btn-primary sendButton" [disabled]="myForm.invalid">
                    Отправить
                </button>
            </div>
        </form>
        <!--/ secondary phone -->

    </div>


    <div class="col two" *ngIf="!mobile">
        <!-- info nav -->
        <ul class="info-nav">
            <li>Страницы</li>
            <li *ngFor="let section of menuList">
                <a [routerLink]="['/pages', section.slug]">{{section.title}}</a>
            </li>
            <!--            <li>Pages</li>-->
            <!--            <li><a routerLink="">О НАС</a></li>-->
            <!--            <li><a routerLink="">FAQ</a></li>-->
            <!--            <li><a routerLink="">Политика конфедециальности</a></li>-->
            <li><a (click)="open()">Обратная связь !</a></li>
            <li><a [routerLink]="['/faq']">FAQ</a></li>
        </ul>
        <!--/ info nav -->
    </div>

    <div class="col three" *ngIf="!mobile">
        <!-- info nav -->
        <ul class="info-nav">
            <li>Коллекции</li>
            <li *ngFor="let collection of collections">
                <a [routerLink]="['/collection', collection.slug]">{{collection.collection_name}}</a>
            </li>
        </ul>
        <!--/ info nav -->
    </div>

    <div class="two-three" *ngIf="mobile">
        <div class="col two">
            <!-- info nav -->
            <ul class="info-nav">
                <li>Страницы</li>
                <li *ngFor="let section of menuList">
                    <a [routerLink]="['/pages', section.slug]">{{section.title}}</a>
                </li>
                <!--            <li>Pages</li>-->
                <!--            <li><a routerLink="">О НАС</a></li>-->
                <!--            <li><a routerLink="">FAQ</a></li>-->
                <!--            <li><a routerLink="">Политика конфедециальности</a></li>-->
                <li><a (click)="open()">Обратная связь !</a></li>
                <li><a [routerLink]="['/faq']">FAQ</a></li>
            </ul>
            <!--/ info nav -->
        </div>

        <div class="col three">
            <!-- info nav -->
            <ul class="info-nav">
                <li>Коллекции</li>
                <li *ngFor="let collection of collections">
                    <a [routerLink]="['/collection', collection.slug]">{{collection.collection_name}}</a>
                </li>
            </ul>
            <!--/ info nav -->
        </div>
    </div>


    <div class="col four">
        <!-- social nav -->
        <ul class="social-nav clearfix">
            <li>Следуйте за нами</li>
            <li>
                <a *ngIf="socialLinks['vkontakte']" [href]="socialLinks['vkontakte']" target="_blank">
                    <i class="icon-vk-sign"></i>
                </a>
                <a *ngIf="socialLinks['facebook']" [href]="socialLinks['facebook']" target="_blank">
                    <i class="icon-facebook-sign"></i>
                </a>
                <a *ngIf="socialLinks['twitter']" [href]="socialLinks['twitter']" target="_blank">
                    <i class="icon-twitter"></i>
                </a>
            </li>
            <!--            <li *ngIf="socialLinks['vkontakte']"><a [href]="socialLinks['vkontakte']" target="_blank"><img class="icon-vk" src="assets/icons/vk-icon.png" style="width: 19px;"></a></li>-->
        </ul>
        <div class="contactModal" *ngIf="opened">
            <button (click)="close()"><span style="font-weight: 500; position: absolute; top: 4%; font-size: 35px; transform: rotate(45deg);
right: 10%">+</span></button>
            <app-contact-modal></app-contact-modal>
        </div>
        <!--/ social nav -->

    </div>
</footer>

<div class="copyrights" style="text-align: center;">
    <a href="https://webihub.com/" target="_blank">© 2019 WEBIHUB.com</a>
</div>

