// Icons

.icon-vk-sign:hover {
    color: #4d7198;
}
.icon-vk-sign:before {
    content: "\f189";
}

.page-footer{
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.one{
    order: 1;
    flex-grow: 4;
    padding: 0 50px;
}

.tow-three {
    order: 2;
    flex-grow: 1;
}
.two{
    order: 2;
    flex-grow: 1;
}

.three{
    order: 3;
    flex-grow: 1;
}

.four{
    order:4;
    flex-grow: 1;
}
form{
    margin: 20px 0;
}
.icon-vk:hover {
    filter: grayscale(100%);
}
.insertName{
    border: 1px solid black;
    padding: 0 5px;
    border-radius: 5px 0 0 5px;
    float: left;
    background: #fff;
    width: 50%;
    line-height: 25px;
}
.sendButton{
    float: left;
    width: 70px;
    height: 27px;
    color: #fff;
    background:#c60e0e;
    border-radius: 0 5px 5px 0;
    font-size: 12px;
    -webkit-transition: background 0.3s, color 0.3s;
    transition: background 0.3s, color 0.3s;
}
.sendButton:hover{
    background: black;
}

.contactModal{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    opacity: 0.9;
    transform: translate(-50%, -50%);
    z-index:1100;
    background: white;
}
.label{
    text-transform: capitalize;
    color: black;
    font-size: 11px;
    line-height: 11px;
    font-weight: 400;
    margin-bottom: 5px;
}
.dang{
    border: 1px solid red;
}

.social-nav li {
    a {
        padding: 0 10px;
    }
}

// // // MEDIA // // //

@media (max-width: 1200px) {
    .page-footer {
        width: auto !important;
    }
}

@media(max-width: 798px) {
    .page-footer{
        flex-direction: column;
    }
    form{
        width: 100%;
    }
    .insertName {
        width: calc(100% - 70px - 12px);
    }

    .two-three{
        order:2;
        flex-grow: 1;
    }

    .four{
        order:3;
        flex-grow: 1;
        margin-left: 0;
    }
    .two-three {
        width: 100%;
        margin-left: 0;
        padding: 24px 50px;
        .two, .three {
            width: 50%;
            margin-left: 0;
        }
    }
    .social-nav {
        text-align: center;
    }
    .social-nav li {
        width: 100%;
    }
}

@media(max-width: 600px){
    .page-footer{
        flex-direction: column;
    }
}

